* {
    background-color: #FCE2DB;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}

h1,
h2 {
    color: #7A4495;
    text-align: center;
}

p {
    color: #B270A2;
}

ul {
    list-style: none;    
    padding-left: 0;
}

li {
    background-color: #B270A2;
    border: 1px #FCE2DB solid;
}

img {
    width: 5em;
    height: auto;
}

a {
    text-decoration: none;
    color: #FF8FB1;
    font-size: 1.5rem;
    background-color: inherit;
}